@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        @apply scroll-smooth scroll-pt-6;
    }

    body {
        @apply bg-grey-3 font-primary text-base leading-relaxed;
    }

    .section {
        @apply py-[50px] lg:py-[70px];
    }

    .title {
        @apply text-2xl lg:text-[40px] leading-tight font-semibold mb-4;
    }

    .subtitle {
        @apply text-[18px] lg:text-[20px] leading-relaxed mb-5 lg:mb-9;
    }
}

/* 
🟨🟨🟨🟨🟨🟨🟨🟨🟨
Browser Main Scrollbar 
🟨🟨🟨🟨🟨🟨🟨🟨🟨
*/

html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-thumb {
    border-radius   : 2px;
    background-color: #286F6C;
}

html::-webkit-scrollbar-track {
    background-color: #FFF;
}